__pycache__/
.ipynb_checkpoints
.Rhistory
src/CompartmentalSystems.egg-info/*
tests/tmp/*
tmp/*
tests/bins/tmp/*
*.swp
*.pyc
.tox/
*/.mypy_cache
*.ipynb
/notebooks/PNAS/output_data_v1/*
/notebooks/PNAS/output_data_v2/*
docs/_sources/_autosummary/*
build_docs/_build/*
build_docs/source/_autosummary/*
